singularity {

    enabled                     = true

    envWhitelist                = "SLURM_CPUS_ON_NODE,CUDA_VISIBLE_DEVICES"

    autoMounts                  = true

}


profiles {

    standard {
        
    }

    pacb {
        
    }

    ont {
        
    }

}

process {

    executor                    = "slurm"
        
    errorStrategy               = "ignore"

    withLabel: pacb {

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/long_methylation/pacb.sif"
        //container               = "mmarchetti90/long_methylation:pacb"

        clusterOptions          = "-A ucgd-rw --partition ucgd-rw -N 1"

    }

    withLabel: ont {

        container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/long_methylation/ont.sif"
        //container               = "mmarchetti90/long_methylation:ont"

        clusterOptions          = "-A ucgd-rw --partition ucgd-rw -N 1"

    }

    withLabel: dorado {

        container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/long_methylation/ont.sif"
        //container               = "mmarchetti90/long_methylation:ont"

        singularity.runOptions  = "--nv"

        clusterOptions          = "-A ucgd-gpu-rw --partition ucgd-gpu-rw --gpus-per-node a100:1 --mem-per-gpu 80G -N 1"

    }

}

params {

    // Common resources

    sample_table_path           = "/path/to/sample/table.tsv"

    reference_fasta_path        = "/uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/genome_resources/GRCh38/Homo_sapiens.GRCh38.dna_rm.toplevel.fa"

    gtf_annotation_path         = "/uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/genome_resources/GRCh38/Homo_sapiens.GRCh38.112.gtf"
    
    // ONT options

    input_file_type             = "pod5" // Format of the files containing raw electrical signal levels (fast5 or pod5)

    skip_basecalling            = false

    dorado_executable_path      = "" // Do not write the actual "dorado" in the path. e.g. if path is "/a/b/c/dorado", use "/a/b/c/" (this if for compatibility with LMOD)

    dorado_model                = "hac,5mCG_5hmCG" // See https://github.com/nanoporetech/dorado?tab=readme-ov-file#automatic-model-selection-complex

    dorado_parameters           = "" // e.g. "--device cpu" if GPU nodes are unavailable

    minimap2_parameters         = ""

    modkit_parameters           = ""

    deepmod2_model              = "bilstm_r10.4.1_4khz" // See DeepMod 2 docs for appropriate model

    deepmod2_parameters         = ""

    // PACB options

    skip_pbccs                  = false

    ccs_parameters              = ""

    jasmine_parameters          = ""

    pbmm2_parameters            = "--preset HIFI"

    cpg_tools_model_path        = "/opt/pb-CpG-tools-v2.3.2-x86_64-unknown-linux-gnu/models/pileup_calling_model.v1.tflite" // Located in the docker/singularity image

    cpg_tools_parameters        = ""

}
